@tailwind base;

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-lg;
}
p {
  @apply text-xl;
}

a{
  @apply dark:text-cLightPurple
  dark:hover:text-cLightestPurple
  cursor-pointer
}

@tailwind components;
@tailwind utilities;


.w-e-text-container, .w-e-bar {
  --w-e-textarea-bg-color: #272727;
  --w-e-textarea-color: #fff;

  --w-e-toolbar-color: #fff;
  --w-e-toolbar-bg-color: #272727;
  --w-e-toolbar-active-color: rgb(131, 125, 125);
  --w-e-toolbar-active-bg-color: #b8b4b4;
  --w-e-toolbar-disabled-color: rgb(124, 123, 123);
  --w-e-toolbar-border-color: #e8e8e8;
  --w-e-textarea-slight-bg-color: rgb(75, 75, 78);
  --w-e-textarea-slight-border-color: #706d6d;

}

.fadeIn-animation-preLoad {
  opacity: 0%;
  visibility: hidden;
  transition: linear 0.3s;
  transform: scale(0.95);
}

.fadeIn-animation-loaded {
  opacity: 88%;
  visibility: null;
  transition: linear 0.3s;
}

.fadeIn-animation-preLoad {
  margin-top: -100px;
  transition: linear 0.3s;
}

.fadeIn-animation-loaded {
  transition: linear 0.3s;
  margin-top: 0px;
}